

.p-name{
    width:200px;
    padding :10px 15px;
    border:1px solid black;
    text-decoration: none;
}
.container{
    display: flex;
    margin-top: 30px;
}

.selected{
    background-color: blue;
    color: white;
}
.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:20px
}